<!-- <nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" href="/">
        <img src="/img/guia.png" alt="">
    </a>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-primary navbar-dark bg-primary ">
    <a class="navbar-brand" href="/"><img src="/img/guia.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav h4 ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/perguntar">Perguntar</a>
        </li>
      </ul>
    </div>
  </nav>